/* src/app/terms-and-conditions/terms-and-conditions.component.scss */

ion-header {
    --ion-toolbar-background: transparent; /* Make the header transparent */
    --ion-toolbar-border-color: transparent; /* Remove the border */
  }
  
  ion-content {
    --background: #f8f9fa; /* Light gray background */
  }
  
  .terms-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% of the viewport height */
  }
  
  .image-container {
    margin-bottom: 24px;
    img {
      max-width: 100%;
      border-radius: 8px; /* Optional: Add rounded corners to the image */
    }
  }
  
  .terms-message {
    text-align: center;
    h1 {
      color: #343a40; /* Dark text color */
      font-size: 24px;
      margin-bottom: 16px;
    }
    p {
      color: #495057; /* Slightly darker text color */
      font-size: 16px;
      margin-bottom: 24px;
      line-height: 1.6; /* Improved readability with increased line height */
    }
  }
  