<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>termAndConditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  
  <ion-content class="ion-padding terms-content">
    <div class="terms-message">
      <div><h2>Welcome to Our App - Terms and Conditions</h2>

        <p>By using our app, you agree to these terms and conditions. Please read them carefully.</p>
      
        <h3>1. General</h3>
      
        <p>
          1.1. This app is provided "as is" without any representations or warranties, express or implied. We make no representations or warranties in relation to this app or the information and materials provided on this app.
        </p>
      
        <h3>2. Use License</h3>
      
        <p>
          2.1. Permission is granted to temporarily download one copy of the materials (information or software) on our app for personal, non-commercial transitory viewing only.
        </p>
      
        <!-- Add more sections and content as needed --></div>
    </div>
  </ion-content>
</ion-content>
