

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-avatar>
        <img [src]="profilePicture" />
      </ion-avatar>
      <ion-label *ngFor="let item of tableData">
        <h2>{{ item.firstName }} </h2>
        <p>{{ item.phoneNumber }}</p>
      </ion-label>
    </ion-card-content>
  </ion-card>


    <ion-list><ion-item (click)="goToEmergencyInfor()">Emergency Information<ion-icon slot="end" name="chevron-forward"></ion-icon></ion-item></ion-list>
 

    <ion-list><ion-item (click)="goToLctSettings()">Location Settings<ion-icon slot="end" name="chevron-forward"></ion-icon></ion-item></ion-list>

    <ion-list><ion-item>Manage Device<ion-icon slot="end" name="chevron-forward"></ion-icon></ion-item></ion-list>
    <ion-list><ion-item (click)="goToCheckMe()">Check Me<ion-icon slot="end" name="chevron-forward"></ion-icon></ion-item></ion-list>

    <ion-list><ion-item (click)="shareWithFriends()">Tell your Friends<ion-icon  slot="end" name="share-social"></ion-icon></ion-item></ion-list>
    <ion-list><ion-item>App permitions<ion-icon slot="end" name="chevron-forward"></ion-icon></ion-item></ion-list>
    
    <ion-list><ion-item (click)="goToFaq()">FAQs<ion-icon slot="end" name="chevron-forward"></ion-icon></ion-item></ion-list>

    <ion-list><ion-item (click)="goToTAC()">Terms and Conditions<ion-icon slot="end" name="chevron-forward"></ion-icon></ion-item></ion-list>

    <ion-list ><ion-item (click)="goToEmailSupport()">Email Support<ion-icon slot="end" name="mail" ></ion-icon></ion-item></ion-list>
    
    

    <ion-button color="dark"  expand="full" fill="outline" style="margin: 30px 0; color: red;">Sign Out</ion-button>
    
</ion-content>
<ion-footer>
  <div class="fab">
    <ion-fab>
      <ion-fab-button color="secondary">
        <ion-icon name="push-outline"></ion-icon>
      </ion-fab-button>
  
      <ng-container >
    
        <ion-fab-list class="circular-fab-list" side="top">
          <ion-fab-button color="primary" (click)="callNumber()">
          
            <ion-icon name="shield-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list class="circular-fab-list" side="end">
          <ion-fab-button color="tertiary">
            <ion-icon name="chevron-forward"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="success">
            <ion-icon name="chevron-forward"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list class="circular-fab-list" side="bottom">
          <ion-fab-button color="warning">
            <ion-icon name="chevron-down"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list class="circular-fab-list" side="start">
          <ion-fab-button color="danger">
            <ion-icon name="chevron-back"></ion-icon>
          </ion-fab-button>
          <ion-fab-button class="circular-fab-list" color="dark">
            <ion-icon name="chevron-back"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ng-container>
    </ion-fab>
  </div>
  
  
  <ion-toolbar>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button >
      <ion-icon name="megaphone"></ion-icon>
 
    </ion-tab-button>
    <ion-tab-button routerLink="/location">
      <ion-icon name="location"></ion-icon>


    </ion-tab-button>
    
      <ion-tab-button >
       
      </ion-tab-button>


    <ion-tab-button >
      <ion-icon name="people"></ion-icon>

    </ion-tab-button>
    <ion-tab-button >
      <ion-icon name="person"></ion-icon>
    
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-toolbar>
</ion-footer>